# =====================================
# FastAPI Configuration
# =====================================
APP_NAME=Jeruk Sortasi API
APP_ENV=production
DEBUG=False

# =====================================
# Server
# =====================================
HOST=0.0.0.0
PORT=8000

# =====================================
# Database PostgreSQL
# =====================================
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DATABASE

# =====================================
# Model
# =====================================
MODEL_PATH=models/model_jeruk.keras

# =====================================
# Upload
# =====================================
UPLOAD_FOLDER=uploads

# =====================================
# CORS
# =====================================
ALLOWED_ORIGINS=*