# Python
venv/
__pycache__/
*.pyc

# Dataset
dataset/

# Dataset
hasil/
history/
output/

# Upload hasil API
uploads/

# Model jika terlalu besar
models/*.keras
models/*.h5

# Environment
.env

# IDE
.vscode/
.idea/